/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
/* line 5, app/assets/stylesheets/comments.scss */
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

/* line 11, app/assets/stylesheets/comments.scss */
h2 {
  font-size: 1.65rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid #eaecef;
}

/* line 17, app/assets/stylesheets/comments.scss */
#notice {
  padding: .5rem;
  color: #008000;
  background: whitesmoke;
  border-left: double 7px #008000;
  border-right: double 7px #008000;
}

/* line 25, app/assets/stylesheets/comments.scss */
#error_explanation {
  margin: 1rem 0;
  padding: .5rem;
  color: #ff4500;
  background: whitesmoke;
  border-left: double 7px #ff4500;
  border-right: double 7px #ff4500;
}

/* line 33, app/assets/stylesheets/comments.scss */
#error_explanation h3 {
  margin: 0;
}

/* line 37, app/assets/stylesheets/comments.scss */
#error_explanation ul {
  margin: 0;
}

/* line 41, app/assets/stylesheets/comments.scss */
#error_explanation li {
  color: #333;
  font-size: 0.8rem;
}

/* line 47, app/assets/stylesheets/comments.scss */
.comment {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

/* line 59, app/assets/stylesheets/comments.scss */
.comment_head_number {
  display: inline-block;
  padding-right: 1rem;
}

/* line 63, app/assets/stylesheets/comments.scss */
.comment_head_name {
  display: inline-block;
  padding-right: 1rem;
  color: #008000;
}

/* line 68, app/assets/stylesheets/comments.scss */
.comment_head_name_admin {
  display: inline-block;
  padding-right: 1rem;
  color: #ff4500;
}

/* line 73, app/assets/stylesheets/comments.scss */
.comment_head_date {
  display: inline-block;
  font-size: 0.8rem;
}

/* line 78, app/assets/stylesheets/comments.scss */
.comment_body {
  padding: 0 0.5rem;
  word-break: break-all;
}

/* line 83, app/assets/stylesheets/comments.scss */
.input_wrapper .label {
  padding-bottom: .7rem;
}

/* line 97, app/assets/stylesheets/comments.scss */
.input_wrapper .cotent input {
  padding: 10px;
  line-height: 1.5em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 1.3rem;
}

/* line 101, app/assets/stylesheets/comments.scss */
.input_wrapper .cotent textarea {
  padding: 10px;
  line-height: 1.5em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 1.3rem;
}

/* line 105, app/assets/stylesheets/comments.scss */
.input_wrapper .actions input {
  background-color: #c2d6ba;
  border-color: #c2d6ba;
  border-radius: 8px;
  color: #333;
  line-height: 1.5;
  padding: 5px 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
